@import '~bootstrap/scss/bootstrap';

$font-size-base: 3rem;
body {
      background: linear-gradient(to bottom, #8a2387, #e94057, #f27121);
      font-size: 2em;
}
a.nav-link {
    color: white;
}
div#toggleThisDiv {

}